
#logo {
  height: 92px;
  width: 272px;
  
  background-color: white;
  
  display: block;
  margin: auto;
  padding-top: 196px;
}

#search_form {
  width: 584px;
  height: 36px;
  
  display: block;
  margin: auto;
  position: relative;
  border: 1px solid #C9C9C9;
  margin-top: 30px;
}

form #text_box {
  
  width: 525px;
  height: 26px;
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 6px;
    
  font-family: '.HelveticaNeueDeskInterface-Regular';
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  border: none;
  outline: none;
}

#search_form img {        /* voice search mic. image in the search box */
  height: 24px;
  width: 24px;
  display: inline-block;
  float: right;
  bottom: 108px;
  right: 8px;
  position: relative;
} 

.search_button, .feeling_lucky_button {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 32px 4px 11px 4px;
  height: 36px;
  padding: 0px 16px 0px 16px;
  text-align: center;
}

.search_button {
  margin-left: 150px;
}

.feeling_lucky_button {
  margin-right: 150px;
}


















